<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="kr.ac.ers.repository.ReportFileMapper">


	<update id="save" parameterType="ReportFileVO">
	insert into
	reportfile(sfNo,attacher,rNo,filename,uploadpath,fileType)
	values(#{sfNo},#{attacher},#{rNo},#{filename},#{uploadpath},#{fileType})
	</update>
	
	<select id="selectFilenumber" resultType="ReportFileVO">
	select *
	from reportfile
	where sfNo = #{sfNo}
	</select>
	
	<select id="selectReportFileSequenceNextValue" resultType="int">
		select reportfile_seq.nextVal
		from dual
	</select>
	
	<select id="selectReportFileByrNo" resultType="ReportFileVO" parameterType="int">
	select *
	from reportfile
	where rno = #{rNo}
	</select>
	<select id="selectReportFileBysfNo" resultType="ReportFileVO">
	select *
	from reportfile
	where sfno = #{sfNo}
	</select>
	
	<update id="removeReportFileBysfNo" parameterType="int">
		delete 
		from reportfile
		where sfno=#{sfNo}	
	</update>
	
	<update id="remove" parameterType="int">
		delete 
		from reportfile
		where rNo=#{rNo}	
	</update>
	
</mapper>